<template>
  <div class="home">
    <StreetMap
      :geojson="geojson"
      :random-points="randomPoints"
      :active-slices="activeSlices"
    />
    <SideBarData
      :random-points="randomPoints"
      @update-slices="updateActiveSlices"
      @regenerate-points="reGenarateRandomPoints"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

import * as turf from '@turf/turf'

import SideBarData from '@/components/SideBarData.vue'
import StreetMap from '@/components/StreetMap'

export default {
  name: 'HomeView',

  components: {
    StreetMap,
    SideBarData,
  },

  data() {
    return {
      randomPoints: [],
      activeSlices: [],
    }
  },

  created() {
    this.$store.dispatch('geoData/FETCH_GEO').then(() => {
      this.generateRandomPoints()
    })
  },

  computed: {
    ...mapState('geoData', {
      geojson: 'geojson',
    }),
  },

  methods: {
    generateRandomPoints() {
      const points = []

      while (points.length < 100) {
        const point = turf.randomPosition(turf.bbox(this.geojson))

        const feature = this.geojson.features.find((f) =>
          turf.booleanPointInPolygon(point, f)
        )

        if (feature) {
          points.push({
            latlng: [point[1], point[0]],
            color: feature.properties.style.color,
            place_id: feature.properties?.place_id,
            name: feature.properties?.name,
          })
        }
      }

      this.randomPoints = points
    },

    reGenarateRandomPoints() {
      this.activeSlices = []
      this.generateRandomPoints()
    },

    updateActiveSlices(evt) {
      this.activeSlices = evt
    },
  },
}
</script>

<style lang="css" scoped>
.home {
  display: flex;
  flex-wrap: nowrap;
}
</style>
