<template>
  <div class="bar-data-conainer">
    <div
      class="expand-icon"
      @click="toggleExpand"
      v-text="`${expanded ? 'Скрыть' : 'Отобразить'} чарт и информацию`"
    />
    <div class="bar-data" :class="{ expanded: expanded }">
      <div class="bar-data-content">
        <div id="chart" ref="chart" />
        <button
          @click="$emit('regenerate-points')"
          v-text="`Перегенерировать координаты`"
          class="regenerate-button"
        />
        <ul class="list">
          <li class="list-item" v-for="item in pointsData" :key="item.name">
            <span v-text="item.name" /> - <span v-text="item.count" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import * as am5 from '@amcharts/amcharts5'
import * as am5percent from '@amcharts/amcharts5/percent'
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated'

export default {
  props: {
    randomPoints: {
      type: Array,
      default: null,
    },
  },

  data() {
    return {
      expanded: false,
      series: null,
      activeSlices: [],
    }
  },

  mounted() {
    this.initChart()
  },

  computed: {
    pointsData() {
      const data = []
      this.randomPoints.forEach((p) => {
        const index = data.findIndex(
          (d) => d.name.split(',')[0] === p.name.split(',')[0]
        )
        if (index === -1) {
          data.push({
            name: p.name.split(',')[0],
            place_id: p.place_id,
            points: [p],
            count: 1,
            template: { fill: p.color, stroke: p.color },
          })
        } else {
          data[index].count++
          data[index].points.push(p)
        }
      })
      return data.sort((a, b) => {
        if (a.name < b.name) {
          return -1
        }
        if (a.name > b.name) {
          return 1
        }
        return 0
      })
    },
  },

  watch: {
    randomPoints: {
      handler() {
        this.series.data.setAll(this.pointsData)
      },
    },
  },

  methods: {
    toggleExpand() {
      this.expanded = !this.expanded
    },

    initChart() {
      let root = am5.Root.new(this.$refs.chart)

      root.setThemes([am5themes_Animated.new(root)])

      let chart = root.container.children.push(
        am5percent.PieChart.new(root, {
          layout: root.verticalHorizontal,
          legend: 'disabled',
        })
      )

      chart.children.push(
        am5.Legend.new(root, {
          y: am5.percent(50),
          centerY: am5.percent(50),
        })
      )

      this.series = chart.series.push(
        am5percent.PieSeries.new(root, {
          name: 'Административные районы',
          categoryField: 'name',
          valueField: 'count',
        })
      )

      //   this.series.set('fill', am5.color(0xff0000))
      console.log(this.series.slices.template, 'tnm')

      // Hide ticks and labels
      this.series.labels.template.setAll({
        forceHidden: true,
      })
      this.series.ticks.template.setAll({
        forceHidden: true,
      })

      this.series.data.setAll(this.pointsData)

      console.log(this.series.slices.template)

      this.series.slices.template.setAll({
        templateField: 'template',
        // fillOpacity: 0.5,
        // strokeWidth: 2,
      })

      this.series.slices.template.events.on('click', () => {
        // use event loop to detect currently active slices
        setTimeout(this.getActiveSlices, 0)
      })
    },

    getActiveSlices() {
      const activeSlices = []
      this.series.slices.each((slice) => {
        if (slice.get('active')) {
          activeSlices.push(slice.dataItem.dataContext)
        }
      })
      this.$emit('update-slices', activeSlices)
    },
  },
}
</script>

<style scoped>
.expand-icon {
  position: fixed;
  cursor: pointer;
  z-index: 100;
  padding: 0.4rem;
  top: 20px;
  right: 20px;
  background: #323232;
  color: white;
  border-radius: 8px;
  line-height: 0.9;
}
.bar-data {
  position: relative;
  background: white;
  max-width: 0;
  width: 40vw;
  height: 100vh;
  overflow-x: hidden;
  transition: max-width 0.13s ease-out;
}

.bar-data.expanded {
  max-width: 40vw;
  width: 40vw;
  height: 100vh;
  background: white;
}

.bar-data-content {
  padding: 4rem 2rem 2rem 2rem;
}

#chart {
  width: 100%;
  height: 400px;
}
.regenerate-button {
  margin: 1rem 0;
}

.list {
  width: 40vw;
  list-style-type: square;
}
</style>
