<template>
  <div class="map-container">
    <div id="map">
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <template v-if="geojson && randomPoints">
          <l-geo-json
            v-for="(feature, index) in geojson.features"
            :key="`area-${index}`"
            :geojson="feature"
            :options-style="feature.properties.style"
          />
          <l-marker
            v-for="(point, index) in randomPointsActive"
            :key="'marker-' + index + randomPoints.length"
            :lat-lng="point.latlng"
            :name="point.name"
          />
        </template>
      </l-map>
    </div>
  </div>
</template>

<script>
import { LMap, LTileLayer, LGeoJson, LMarker } from 'vue2-leaflet'

export default {
  components: { LMap, LTileLayer, LGeoJson, LMarker },
  props: {
    geojson: {
      type: Object,
      default: null,
    },

    randomPoints: {
      type: Array[Object],
      default: null,
    },

    activeSlices: {
      type: Array[Object],
      default: null,
    },
  },

  data() {
    return {
      zoom: 10,
      center: [55.7558, 37.6173], // center of Moscow
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: 'Ilia Ostrovsky map demo',
    }
  },

  computed: {
    randomPointsActive() {
      if (!this.activeSlices?.length) {
        return this.randomPoints
      } else {
        // Use activeSlices.points attribute, instead of filter to reduce cpu load
        const points = []
        this.activeSlices.forEach((as) => {
          points.push(...as.points)
        })
        return points
      }
    },
  },
}
</script>

<style scoped>
@import 'leaflet/dist/leaflet.css';
.map-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1 !important;
}
</style>
